:host {
  display: flex;
  flex: 1;
}

mat-tab-group {
  height: 100%;
}

.avatar {
  overflow: hidden;
  margin: 12px;
}

.content {
  padding: 14px;
}

.fab-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 8;
}
