:host {
  display: flex;
  flex: 1;
}

md-sidenav {
  width: 320px;
}

.content {
  padding: 12px;
}

/deep/ md-icon.avatar {
  overflow: hidden;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 12px;
}

.fab-bottom-right {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

/deep/ .mat-list-item-content {
  height: auto !important;
}
