<div fx-layout="column" fx-flex>
  <md-toolbar color="primary">
    <span>Angular Material 2 - Starter App</span>
  </md-toolbar>
  <md-sidenav-layout fx-layout="row" fx-flex>
    <md-sidenav mode="side" opened>
      <md-tab-group>
        <md-tab label="Users">
          <md-nav-list>
            <md-list-item *ngFor="let user of users">
              <md-icon svgIcon="avatars:{{user.avatar}}" class="avatar"></md-icon>
              <span>{{user.name}}</span>
            </md-list-item>
          </md-nav-list>
        </md-tab>
        <md-tab label="Settings">
          <span>Settings</span>
        </md-tab>
      </md-tab-group>
    </md-sidenav>
    <div class="details" fx-flex>
      details!
    </div>
  </md-sidenav-layout>
</div>