@import url(~"https://fonts.googleapis.com/css?family=Roboto:400,300");
@import url(~"https://fonts.googleapis.com/css?family=Material+Icons");

html, body {
  margin: 0;
  background: #eee;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
  flex-direction: column;
  display: flex;
}